<ion-view title="REGISTRAR">

    <ion-nav-buttons side="right">
        <button ng-click="confirmation.confirm()" ng-disabled="!confirmation.nome||confirmation.nome.length === 0||!confirmation.email||confirmation.email.length === 0||!confirmation.password||confirmation.password.length === 0||!confirmation.password2||confirmation.password2.length === 0||(confirmation.password!=confirmation.password2)"
            class="button button-clear button-positive">Cadastrar</button>
    </ion-nav-buttons>
    <ion-content>
        <div class="text-center padding">
            Complete os campos abaixo com seus dados para entrar no chat.
        </div>
        <div class="list padding-top">
            <input ng-model="confirmation.nome" type="text" placeholder="Nome">
            <input ng-model="confirmation.email" type="text" placeholder="Email">
            <input ng-model="confirmation.password" type="password" placeholder="Senha">
            <input ng-model="confirmation.password2" type="password" on-return="confirmation.confirm()" placeholder="Confirmação de senha">

        </div>

    </ion-content>

</ion-view>