<ion-view title="ENTRAR">
    <ion-nav-buttons side="right">
        <button ng-click="logger.registrar()" class="button button-clear button-positive">Cadastrar</button>
        <button ng-click="logger.login()" ng-disabled="!logger.email || logger.email.length === 0||!logger.senha || logger.email.senha === 0" class="button button-clear button-positive">Login</button>
    </ion-nav-buttons>
    <ion-content class="login">
        <div class="text-center instructions">
            Digite seu email e senha
        </div>
        <div class="list">
            <label class="item item-input">
            <input ng-model="logger.email"  type="email" placeholder="Email">
           </label>
            <label class="item item-input">
            <input ng-model="logger.senha" on-return="logger.login()" type="text" placeholder="Senha">
           </label>
        </div>
    </ion-content>
</ion-view>